body {
    background-color: black;
    color: #FFFFFF;
}

.carousel-caption {
    text-align: left;
    left: 18%;
    top: 6.9rem;
    width: 32.7rem;
    position: absolute;
}

.btn-img {
    padding: 10px;
}

.ParaaListadeDesejos {
    border: black;
    position: absolute;
    left: 17rem;
    top: 15.8rem;
}

.navbar1 {
    position: relative;
    background: transparent;
}

.navbar2 {
    background-color: transparent !important;
}

.row {
    margin: 5.5rem 1%;

}

.btn-card {
    border-radius: 0rem;
    font-size: 7px;
    margin-left: 2.6rem;
    padding: 0 0;

}

.card7 {
    background-image: url(../images/card7.png);
    background-position: fill;
    background-repeat: no-repeat;

    width: 24.12rem;
}

.title7 {
    padding-top: 123px;
    padding-left: 11px;
    white-space: nowrap;
    font-size: 16px;
}

.description7 {
    padding-top: 4px;
    padding-left: 11px;
    font-size: 14px;
}

.card8 {
    background-image: url(../images/card8.png);
    background-repeat: no-repeat;
    height: 14.75rem;
}

.title8 {
    padding-top: 123px;
    padding-left: 11px;
    white-space: wrap;
    font-size: 16px;

}

.description8 {
    padding-top: 4px;
    padding-left: 11px;
    font-size: 14px;
}

.card9 {
    background-image: url(../images/card9.png);
    background-repeat: no-repeat;
    height: 14.75rem;

}

.title9 {
    padding-top: 123px;
    padding-left: 11px;
    white-space: nowrap;
    font-size: 16px;
}

.description9 {
    padding-top: 4px;
    padding-left: 11px;
    font-size: 14px;
}

.price {
    text-decoration-line: line-through;
}

.cards {
    background-color: black;
}

.card10 {
    display: flex;
    flex-direction: row;
}

.data {
    margin-left: 0.875rem;
}

.img2 {
    margin-left: 18.25rem;

}

.card11 {
    display: flex;
    flex-direction: row;
}

.card12 {
    display: flex;
    flex-direction: row;
}

.card13 {
    display: flex;
    flex-direction: row;
}

.card14 {
    display: flex;
    flex-direction: row;
}

.card15 {
    display: flex;
    flex-direction: row;
}

.btn-11,
.btn-12,
.btn-13,
.btn-14,
.btn-15,
.btn-16 {
    width: 34px;
    height: 20px;
    font-size: 8px;
    margin-top: 0.6rem;
    margin-left: 1rem;
    border-radius: 4px;
    box-shadow: 1px 1px 4px;
}

.discount-btn {
    display: flex;
}

/* hr{
    position: absolute;
    width: 800px;
    height: 0px;
    left: 16rem;
    top: 129rem;
    border: 1px solid rgba(255, 255, 255, 0.32);
    transform: rotate(90deg);
} */
.hr-navbar3{
    position: absolute;
    width: 1214px;
    height: 0px;
    left: 28px;
    top: 150px;
    border: 1px solid rgba(255, 255, 255, 0.32);
}
.hr-navbar1{
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0;
    top: 95px;
    border: 1px solid rgba(255, 255, 255, 0.32);
}
.poster2 {
    background-image: url(../images/poster1.png);
    height: 537px;
    color: #FFFFFF;
    align-items: center;

}

.captions-poster2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    height: 100%;

}

.arrow-right2 {
    padding-left: 1rem;
    margin-top: -5px;
}

.header {
    height: 100vh;
    background: linear-gradient(90.22deg, #02020770 0%, #02020770 100%), url(../images/image\ 2.png);

}

.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}

.nav-bar-btn1 {
    width: 144px;
    height: 48px;
    font-size: 13px;
    background: transparent;
    border-color: white;
    border-radius: 4px;

}

.vector {
    position: absolute;
    padding-top: 9.1px;
    left: 44px;
}

.nav-bar-btn2 {
    width: 144px;
    height: 48px;
    font-size: 13px;
    border-radius: 4px;
}

.vector2 {
    position: absolute;
    padding-left: 4px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
}

.navbar-link {
    text-decoration: none;
}